<div id="global-contribute-modal" class="contribute-modal hidden">
  <div class="contribute-modal__container">
    <div class="contribute-modal__content">
      <p class="contribute-modal__description">
        <%= t("views.main.modal.contribute.text") %>
      </p>
    </div>
  </div>
</div>
