<div id="global-funding-modal" class="funding-modal hidden">
  <div class="funding-modal__container">
    <div class="funding-modal__content">
      <p class="funding-modal__description">
        <%= t("views.main.modal.funding.text") %>
      </p>
    </div>
  </div>
</div>
